* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
  text-decoration: none;
  
}
#school {
  font-size: 1.5rem;
  color: white;
  padding-left: 20;
  margin-left: 13px;
}
/* navbar */
nav {
  background-color: #3b5998;
  color: white;
  align-items: center;
  height: 70px;
  display: flex;
  justify-content: space-between;
  
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

header{
  scroll-snap-align: start;
  height: 100vh;
  font-size: 1rem;;
  text-align: center;
  padding: 150px;
  background-color: grey ;
  color:#f9f9f9
 
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  
}

nav a {
  color: white;
  padding: 2px 3px;
  margin-right: 15px;
  
}

nav a:hover {
  background-color: #f1f2f5;
  color: #3b5998;
  border-radius: 2px;
}

#join {
  color: rgb(252, 251, 251);
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  background-color: orange;
  border-color: gray;
  border-radius: 2px;
}

#join:hover {
  color: #eff0f1;
  background-color: #4a69bb;
}


p {
  margin: 10px 0;

}

h2 {
  text-align: center;
  margin: 20px 0;
  color: #3b5998;
}

img {
  max-width: 100%;
  height: auto;
  width: 170px;
  border-radius: 5px;
}

.joinus {
  background-color: rgb(254, 244, 246) ;
  padding: 20px;
  text-align: center;
  height: 500px;
}

.joincards {
  padding: 20px;
  text-align: center;
  display: flex;
  gap: 20px;
  justify-content: center;
  
}
 .card{
  background-color: white;
  padding-top: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  min-width: 200px;
  width: 250px;
 
 }
.programs{
  background-color: lavender;
  padding: 20px;
  display: block;
  text-align: center;
  height: 500px;
  padding-top: 80px;

}

.programcards {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 10px;
}

.program-card {
  background-color: white;
  padding-top: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  min-width: 200px;
  width: 250px;
}

h3 {
  color: black;
  padding-bottom: 10px;
}

footer {
  background-color: #3b5998;
  color: white;
  text-align: center;
  padding: 20px;
}


